# Force C# detection
*.cs linguist-language=CSharp

# Shader files
*.shader linguist-vendored
*.hlsl linguist-vendored
*.cginc linguist-vendored
*.compute linguist-vendored

# Unity metadata files
*.meta linguist-detectable=false

# Unity asset files
*.mat linguist-language=Text
*.prefab linguist-language=Text
*.asset linguist-language=Text
